#contact{
    display: grid;
    align-items: center;
    justify-content: center;

    grid-template-columns: 1fr 3fr 1fr;
}

#contact form{
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-column: 2/3;
}
#contact form > label{
    color: var(--white);
    font-weight: 700;
    font-size: 2rem;
    margin-bottom: 2rem;
}
#contact form input[type="email"],
#contact form input[type="text"]{
    height: 3rem;
    background-color: var(--gray);
    outline: none;
    border: none;
    padding: .5rem;
    margin: .5rem 0;

    font-size: 1rem;

    color: var(--white);
}

#contact form textarea{
    color: var(--white);
    height: 10rem;
    background-color: var(--gray);
    outline: none;
    border: none;
    padding: .5rem;
    margin: 1rem 0;

    font-size: 1rem;
}

#contact form > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#contact form > div input{
    display: none;
}
#contact form > div label{
    height: 3rem;
    width: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--gray);
    color: var(--light-gray);

    font-weight: 700;

    cursor: pointer;

    font-size: 1.2rem;
}


::placeholder{
    font-weight: 700;
    color: var(--light-gray);
}

@media screen and (max-width: 600px) {
    #contact{
        display: flex;
    }
}